<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>YUE虚拟化管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KVM虚拟化管理平台"/>
    <meta name="keywords" content="KVM,虚拟化"/>
    <meta name="author" content="lijian"/>
    <!-- <link rel="shortcut icon" href="../favicon.ico">-->

</head>
<body>
<header id="adminheader">
    <div id="adminlogo">
    </div>
    <div id="admintitle">
        <span id="titlecontent"> 虚拟化应用管理平台 </span>
    </div>
    <a id="logout" href="#"><u>退出</u></a>
    <span>当前用户:<span id="currentuser">unknown</span> </span>
</header>
<div class="clear"></div>
<main id="adminmain">

</main>
<div class="clear"></div>
<footer id="adminfooter">
    <span id="copyright">版权：开发者所有，可供个人研究与学习，严禁商业传播</span>

    <div class="clear"></div>
    <span id="addr">2016, Beijing</span>
</footer>
</body>
</html>
