#div_help {
    color: #1d3c41;
    border: 2px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}

.span_help{
    font-weight: 500;
}

#introduction_info {
    float: left;
    margin: 10px;
}