#div_contact {
    color: #1d3c41;
    border: 2px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 2px;
    margin-bottom: 20px;
    font-size: 15px;
}

#div_contact span {
    font-weight: 500;
    margin: 10px;
}