<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>YUE虚拟化管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KVM虚拟化管理平台登录"/>
    <meta name="keywords" content="KVM,虚拟化"/>
    <meta name="author" content="lijian"/>
    <!-- <link rel="shortcut icon" href="../favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="static/css/admin.css"/>
    <script type="text/javascript" src="static/js/admin.js"></script>

</head>
<body>
<header id="adminheader">
    <div id="adminlogo">
    </div>
    <div id="admintitle">
        <span id="titlecontent"> 虚拟化应用平台管理 </span>
    </div>
    <a id="logout" href="#"><u>退出登陆</u></a>
    <span id="currentuser">当前用户:admin</span>
</header>
<div class="clear"></div>
<main id="adminmain">
    <aside id="mainaside">
        <details class="menu" open>
            <summary>虚拟机管理</summary>
            <ul>
                <li><a href="#">新建虚拟机</a></li>
                <li><a href="#">刷新状态</a></li>
                <li><a href="#">设置引擎</a></li>
            </ul>
        </details>
        <details class="menu" open>
            <summary>存储管理</summary>
            <ul>
                <li><a href="#">新建存储</a></li>
                <li><a href="#">健康检查</a></li>
            </ul>
        </details>
        <details class="menu" open>
            <summary>网络管理</summary>
            <ul>
                <li><a href="#">新建网络</a></li>
                <li><a href="#">划分VLAN</a></li>
            </ul>
        </details>
        <details class="menu" open>
            <summary>用户管理</summary>
            <ul>
                <li><a href="#">新建用户</a></li>
            </ul>
        </details>
        <details class="menu" open>
            <summary>系统配置</summary>
            <ul>
                <li><a id="chagepassword" href="#">修改密码</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </details>
    </aside>
    <session id="mainsession">
        <iframe id="mainiframe">

        </iframe>
    </session>
</main>
<div class="clear"></div>
<footer id="adminfooter">
    <span id="copyright">版权：开发者所有，可供个人研究与学习，严禁商业传播</span>

    <div class="clear"></div>
    <span id="addr">2016, Beijing</span>
</footer>
</body>
</html>