<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>YUE虚拟化管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KVM虚拟化管理平台"/>
    <meta name="keywords" content="KVM,虚拟化"/>
    <meta name="author" content="lijian"/>
    <!-- <link rel="shortcut icon" href="../favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="static/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/changepwd.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/help.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/usermgmt.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/configure.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/checkenv.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/storage.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/network.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/vm.css"/>
    <script type="text/javascript" src="static/js/vm.js"></script>
    <script type="text/javascript" src="static/js/admin.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
<header id="adminheader">
    <div id="adminlogo">
    </div>
    <div id="admintitle">
        <!-- <span id="titlecontent"> 虚拟化应用管理平台 </span> -->
        <span id="titlecontent"></span>
    </div>
    <a id="logout" href="#"><u>退出</u></a>
    <span id="currentuser">当前用户: admin</span>
</header>
<div class="clear"></div>
<main id="adminmain">
    <aside id="mainaside">
        <details class="menu" open>
            <summary>数据中心</summary>
            <ul>
                <li><a id="vm" href="#vm">虚拟机管理</a></li>
                <li><a id="storage" href="#storage">存储管理</a></li>
                <li><a id="network" href="#network">网络管理</a></li>
                <li><a id="usermgmt" href="#user">用户管理</a></li>
            </ul>
        </details>
        <details class="menu" open>
            <summary>系统配置</summary>
            <ul>
                <li><a id="checkenv" href="#checkenv">环境检查</a></li>
                <li><a id="configure" href="#configure">基本配置</a></li>
                <li><a id="chagepassword" href="#changepwd">修改密码</a></li>
            </ul>
        </details>
        <details class="menu" open>
            <summary>帮助</summary>
            <ul>
                <li><a id="manual" href="#manual">使用手册</a></li>
                <li><a id="reference" href="#reference">参考资料</a></li>
                <li><a id="download" href="#download">工具下载</a></li>
                <li><a id="contact" href="#contact">联系我们</a></li>
            </ul>
        </details>
    </aside>
    <session id="mainsession">
    </session>
</main>
<div class="clear"></div>
<footer id="adminfooter">
    <span id="copyright">版权：开发者所有，可供个人研究与学习，严禁商业传播</span>

    <div class="clear"></div>
    <span id="addr">2016, Beijing</span>
</footer>
</body>
</html>